.up-nav .up-logo .mid-logo {
    max-width: 50px;
}

.central-cont {
    height: calc(100vh - 70px);
    /* width: 100% */
}

aside {
    height: 100%;
    width: 70px;
}

/* .central-cont {
    margin-right: 0;
} */

.central-cont aside .aside-cont {
    height: 100%;
    width: 70px;
    background-color: rgb(5, 30, 52);
    color: white;
}

.central-cont aside .aside-cont .aside-hover {
    transition: .5s;
}

.central-cont aside .aside-cont .aside-hover:hover {
    background-color: white;
    color: black;
}

.central-cont .corpo-cent header {
    background-color: rgb(27, 114, 232);
    color: white;
}

.central-cont .corpo-cent header div a {
    color: white;
    text-decoration: none;
}

.central-cont .corpo-cent header div div .main-hover {

}

.central-cont .corpo-cent header div div div .main-hover:hover {
    background-color: white;
    color: black;
}

section .carte ul li .avatar-img {
    width: 35px;
}

@media screen and (min-width: 992px) {
    aside {
        height: 100%;
        width: 150px;
    }
    aside .aside-cont {
        height: 100%;
        min-width: 150px;
        }

    .central-cont .corpo-cent {
        width: calc(100% - 150px);
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .corpo-cent header div .head-elems {
        display: flex;
        flex-flow: column-reverse;
    }
}